<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<meta name="theme-color" content="#13110e">
<link rel="preload" href="luxe/fonts/cormorant-garamond-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="luxe/fonts/jost-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preconnect" href="https://www.acmecorp.com">
<link rel="preconnect" href="https://cdn.foagroup.com">
<link rel="icon" href="data:,">
<link rel="stylesheet" href="luxe/luxe.css">
<script>document.documentElement.classList.add("lx-js");if(/[?&]clean=1/.test(location.search))document.documentElement.classList.add("lx-clean");</script>
