<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<meta name="theme-color" content="#13110e">
<link rel="preload" href="luxe/fonts/cormorant-garamond-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="luxe/fonts/jost-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preconnect" href="https://www.acmecorp.com">
<link rel="preconnect" href="https://cdn.foagroup.com">
<link rel="icon" type="image/svg+xml" href="luxe/media/brand/sns-icon.svg">
<link rel="stylesheet" href="luxe/luxe.css">
<!--@org-->
<script>(function(){var c=document.documentElement.classList;c.add("lx-js");try{var n=navigator.connection;if(n&&(n.saveData||/(^|-)2g$/.test(n.effectiveType||"")))c.add("lx-save");}catch(e){}})();</script>
